.overviewV {
  @extend .f1;
  @extend .col;
  background: #EEE;
  padding: 1rem;

  .section {
    @extend .row;
    margin: 0.25rem 1rem;

    &.total {
      border-top: 1px solid #EEE;
      padding-top: 0.5rem;
    }

    .name {
      color: #666;
    }

    .value {
      @extend .f1;
      text-align: right;
    }
  }
}
