<div class="overviewV">
  <div class="row">
    <div class="card balance">
      <div class="header">Balance</div>
      <div class="section">
        <span class="name">Current:</span><span class="value">{{overviewC.wallet.current}} ECC</span>
      </div>
      <div class="section">
        <span class="name">Pending:</span><span class="value">{{overviewC.wallet.pending}} ECC</span>
      </div>
      <div class="section total">
        <span class="name">Total:</span><span class="value">{{overviewC.wallet.current + overviewC.wallet.pending}} ECC</span>
      </div>
    </div>
    <div class="card value">
      <div class="header">Current Value</div>
      <div class="section" ng-repeat="(exchange, price) in overviewC.value">
        <span class="name">{{exchange}}:</span><span class="value">{{price}} BTC</span>
      </div>
    </div>
  </div>
  <div class="row f1">
    <div class="card transactions">
      <div class="header">Recent Transactions</div>
    </div>
  </div>
</div>
