.overviewV {
  @extend .f1;
  @extend .col;
  flex-wrap: wrap;
  background: #EEE;
  padding: 1rem;

  .card {
    @extend .f1;
    background: #FFF;
    box-shadow: 0 0 5px -1px rgba(0,0,0,.3);
    margin: 0.5rem;
    padding: 0.5rem 0;
    padding-bottom: 1rem;

    .header {
      font-size: 1.3rem;
      padding: 0.5rem;
      margin: 0.5rem;
      border-bottom: 1px solid #DDD;
    }

    .section {
      @extend .row;
      margin: 0.25rem 1rem;

      &.total {
        border-top: 1px solid #EEE;
        padding-top: 0.5rem;
      }

      .name {
        color: #666;
      }

      .value {
        @extend .f1;
        text-align: right;
      }
    }
  }
}
