@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css");
@import "~bootstrap-material-design/dist/css/bootstrap-material-design.css";
@import "~bootstrap-material-design/dist/css/ripples.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import "./styles/Sidebar.css";
@import "./styles/About.css";
@import "./styles/Security.css";
@import "./styles/Home.css";
@import "./styles/Receive.css";
@import "./styles/Send.css";
@import "./styles/Transactions.css";
@import "./styles/Settings.css";

html{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}

*:focus {
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.my_wrapper{
  padding-left: 200px;
  padding-top: 25px;
  padding-right: 0; 
  height: 100vh; 
  overflow: hidden;
}

.snack{
  position: fixed;
  bottom: -50px;
  left: 200px;
  right: 0;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  text-align: center;
}

.my_wrapper{
  width: 95%;
  margin-left: 2.5%;
}

.mancha{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 400px;
  padding: 20px 20px 5px 20px;
  transform: translate(-50%,-50%);
}

.dialog .header{
  border-bottom: 1px solid #a1be5a;
}

.dialog .header .title{
  font-size: 1.3em;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.dialog .body{
  padding-top: 25px;
}

.dialog .body .desc{
  font-size: 1em;
  color: #000 !important;
}

.dialog .body .desc2{
  font-size: 1em;
  color: #bdbdbd !important;
}

.dialog .footer{
  text-align: center;
  padding-top: 15px;
}

.dialog .footer .button{
  display: inline-block;
  width: 100px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.dialog .footer .btn_cancel{
  background-color: #bdbdbd;
}

.dialog .footer .btn_confirm{
  background-color: #a1be5a;
}

.dialog .inpuText{
  font-size: 1em !important;
}

.dialog .inpuText::-webkit-input-placeholder{
  font-size: 1em !important;
}
