.navbar {
  @extend .row;
  @extend .f1;
  padding-left: 5rem;

  .link {
    @extend .row;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    -webkit-app-region: no-drag;
    text-decoration: none;
    color: #333;
    border-left: 1px solid #EEE;
    transition: background 100ms ease;

    &:last-of-type {
      border-right: 1px solid #EEE;
    }

    &:hover {
      background: #F5F5F5;
    }

    &.active {
      background: $green;
      color: white;
    }
  }
}
