.navbar {
  z-index: 9;
  @extend .row;
  @extend .f1;
  padding-left: 5rem;
  background-color: #222;
  box-shadow: 0 -4px 9px 5px rgba(0,0,0,.3);

  .link {
    @extend .row;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    -webkit-app-region: no-drag;
    text-decoration: none;
    color: #999;
    transition: all 100ms ease;

    &:hover {
      color: white;
    }

    &.active {
      background: $green;
      color: white;
    }
  }
}
