<div ng-controller="uiNavbarC as uiNavbarC" class="navbar">
  <div ui-sref="overview" class="link" ng-class="{active: uiNavbarC.state.current.name === 'overview'}">Overview</div>
  <div ui-sref="send" class="link" ng-class="{active: uiNavbarC.state.current.name === 'send'}">Send</div>
  <div ui-sref="receive" class="link" ng-class="{active: uiNavbarC.state.current.name === 'receive'}">Receive</div>
  <div ui-sref="transactions" class="link" ng-class="{active: uiNavbarC.state.current.name === 'transactions'}">Transactions</div>
  <div ui-sref="about" class="link" ng-class="{active: uiNavbarC.state.current.name === 'about'}">About</div>
</div>
