<div class="aboutV">
  <div class="heading"> E-Currency Coin </div>
  <div class="subheading">
    Founded in 2014 by <a external-link="https://www.cryptounited.io/">CryptoUnited</a>
  </div>
  <div class="social">
    <a external-link="https://bitcointalk.org/index.php?topic=1006830.1840" class="section">
      <img src="assets/bitcoin.png" alt="">
      <span class="sub">Announcement Thread</span>
    </a>
    <a external-link="https://join.slack.com/cryptounited-public/shared_invite/MTk2ODEyMTUxODQ2LTE0OTcyMDg2NTQtNmJjNmZjZGFjMw" class="section">
      <img src="assets/slack.png" alt="" class="slack">
      <span class="sub">Join us on slack!</span>
    </a>
  </div>
  <div class="source">
    <img src="assets/github.png" alt="">
    <div class="section">
      <a external-link="https://github.com/Greg-Griffith/ECCoin"> ECCoin Source Code </a>
      <a external-link=" https://github.com/Greg-Griffith/Electron-Ecc-gui"> Wallet Source Code </a>
    </div>
  </div>
</div>
