.sendV {
  @extend .f1;
  @extend .col;
  background: #EEE;
  padding: 1rem;
  box-sizing: border-box;
  max-height: calc(100vh - 2.5rem);

  .btn {
    background: $blue;
    padding: 0.5rem;
    color: white;
    transition: all 100ms ease;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9rem;

    &:hover {
      box-shadow: 0px 1px 7px -1px rgba(0,0,0,.3);
    }
  }

  .header {
    @extend .row;

    .main {
      @extend .f1;
    }

    .btn {
      font-size: 1.5rem;
      padding: 0 0.4rem;
    }
  }

  .addressBook {
    @extend .col;
    padding-bottom: 0;

    .header {
      margin-bottom: 0;
    }

    .list {
      @extend .f1;
      overflow: scroll;

      .entry {
        border-bottom: 1px solid #EEE;
        margin: 0.5rem;
        padding: 0.5rem;

        .row {
          align-items: center;
        }

        .label {
          font-size: 1.2rem;
          font-weight: 600;
        }

        .input {
          @extend .f1;
          padding: 0.4rem;
        }

        .editstate>* {
          margin: 0 0.5rem;
        }

        .address {
          margin: 0.5rem;
          color: #666;
          @extend .f1;
          font-size: 0.8rem;
        }

        .remove {
          background: $red;
        }

        .basestate {
          .btn.edit {
            opacity: 0;
          }
        }

        &:hover {
          .basestate {
            .btn.edit {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .sendForm {
    flex: 0 0 auto;
    padding: 1rem;

    .row {
      margin: 0.5rem 0;
      align-items: center;
    }

    .input {
      @extend .f1;
      margin: 0 0.5rem;
    }
    .btn {
      margin-right: 0.5rem;
      background: $green;
    }
  }

  .input {
    outline: none;
    font-size: 1rem;
    padding: 0.5rem;
    border: 0;
    background: 0;
    transition: all 100ms ease;
    border-bottom: 1px solid #DDD;

    &:hover {
      border-color: #BBB;
    }

    &:focus {
      border-color: $green;
    }

    &::-webkit-input-placeholder {
      color: #CCC;
    }

    &.err {
      border-color: $red;
    }
  }

  .editing {
    .add, .edit {
      opacity: 0 !important;
      pointer-events: none;
    }
  }
}
