<div class="sendV">
  <div class="card addressBook {{sendC.editing === null ? '': 'editing'}}">
    <div class="header">
      <div class="main"> Address Book </div>
      <div class="btn add" ng-click="sendC.addAddress()">+</div>
    </div>
    <div class="list">
      <div class="entry" ng-repeat="entry in sendC.addressbook">
        <div class="basestate row" ng-if="sendC.editing !== $index" ng-click="sendC.selectPayTo(entry.address)">
          <div class="label">{{entry.label}}</div>
          <div class="address">{{entry.address}}</div>
          <div class="btn edit" ng-click="sendC.editAddress($index, $event)">Edit</div>
        </div>
        <div class="editstate row" ng-if="sendC.editing === $index">
          <input class="input" ng-model="entry.label" placeholder="Label">
          <input class="input {{sendC.addressError === $index ? 'err' : ''}}" ng-model="entry.address" placeholder="ECC Address">
          <div class="btn remove" ng-click="sendC.removeAddress($index, $event)">Remove</div>
          <div class="btn save" ng-click="sendC.save($index)">Save</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card sendForm">
    <div class="row">
      <div class="label">Pay To:</div>
      <input class="input" type="text" ng-model="sendC.sendAddress" placeholder="ECC Address">
    </div>
    <div class="row">
      <div class="label">Amount:</div>
      <input class="input" type="text" ng-model="sendC.sendAmount" placeholder="0.0000">
      <div class="btn">Send</div>
    </div>
  </div>
</div>
