$green: #13CE66;
$blue: #1FB6FF;
$red: #FF4949;

body {
  @extend .col;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  text-rendering: geometricPrecision;
  font-family: sans-serif;
  user-select: none;
  overflow: hidden;
  cursor: default;
}

ui-navbar {
  @extend .row;
  flex: 0 0 2.5rem;
  -webkit-app-region: drag;
}

ui-view {
  @extend .f1;
  @extend .row;
}

.f1 {
  flex: 1 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.card {
  @extend .f1;
  background: #FFF;
  box-shadow: 0 0 5px -1px rgba(0,0,0,.3);
  margin: 0.5rem;
  padding: 0.5rem 0;
  padding-bottom: 1rem;

  .header {
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-bottom: 1px solid #DDD;
  }
}
